<div class="container">
    <h3>
      <a routerLink="/">
        <span class="menu-label"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User<br>Management</strong></span>
      </a>
    </h3>
    <div class="navbar">
      <ul class="menu">
        <li class="menu-item" routerLink="/users">
          <a>
            <span class="menu-label">Users</span>
          </a>
        </li>
        <li class="menu-item" routerLink="/categories">
          <a>
            <span class="menu-label">Categories</span>
          </a>
        </li>
        <li class="menu-item" routerLink="/statuses">
          <a>
            <span class="menu-label">Statuses</span>
          </a>
        </li>
      </ul>
    </div>
  </div>