<div class="container">
    <form [formGroup]="userCreateForm" (ngSubmit)="onSubmit()">
        <div class="form-wrapper">
            <div class="input">
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
            </div>
            <div class="input">
                <mat-form-field class="example-full-width">
                    <mat-label>Personal ID</mat-label>
                    <input matInput formControlName="personalId">
                </mat-form-field>
            </div>
            <div class="input">
                <mat-form-field class="example-full-width">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName">
                </mat-form-field>
            </div>
            <div class="input">
                <mat-form-field class="example-full-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName">
                </mat-form-field>
            </div>
            <div class="input">
                <mat-form-field class="example-full-width">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput formControlName="dateOfBirth">
                </mat-form-field>
            </div>
            <div class="input dropdown category">
                <mat-form-field appearance="fill">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category">
                        <mat-option *ngFor="let category of categories" [value]="category.value">
                            {{category.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="input dropdown status">
                <mat-form-field appearance="fill">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option *ngFor="let category of categories" [value]="category.value">
                            {{category.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="btn-wrapper">
                <button mat-flat-button color="warn" routerLink="/users" class="btn cancel">Cancel</button>
                <button mat-flat-button routerLink="/users" class="btn add">Add</button>
            </div>
        </div>
    </form>
</div>