<div class="container">
    <form *ngIf="userCreateForm" [formGroup]="userCreateForm" (ngSubmit)="onSubmit()">
        <div class="form-wrapper">
            <div class="input">
                <mat-form-field class="example-full-width field">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
            </div>
            <div class="input">
                <mat-form-field class="example-full-width field">
                    <mat-label>Personal ID</mat-label>
                    <input matInput formControlName="personalId" (keypress)="onKeyPress($event)"
                        (keydown)="onKeyDown($event, 11)">
                </mat-form-field>
            </div>
            <div class="input">
                <mat-form-field class="example-full-width field">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName" (keydown)="onKeyDown($event, 20)">
                </mat-form-field>
            </div>
            <div class="input">
                <mat-form-field class="example-full-width field">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName" (keydown)="onKeyDown($event, 20)">
                </mat-form-field>
            </div>
            <div class="input">
                <mat-form-field appearance="fill" class="field">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="picker" disabled formControlName="dateOfBirth">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="input">
                <mat-form-field appearance="fill" class="field">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category">
                        <mat-option *ngFor="let category of categories" [value]="category.value">
                            {{category.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="input">
                <mat-form-field appearance="fill" class="field">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option *ngFor="let status of statuses" [value]="status.value">
                            {{status.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="btn-wrapper">
                <button mat-flat-button color="warn" routerLink="/users" class="btn cancel">Cancel</button>
                <button mat-flat-button class="btn add" type="submit">{{ buttonText }}</button>
            </div>
        </div>
    </form>
</div>