.container {
    .form-wrapper {
        .input{
            width: 500px;

            .field{
                width: 100%;
            }
        }
        .btn-wrapper {
            .btn{
                margin-left: 15px;
            }
            .add {
                background-color: #24a0ed;
                color: white;
            }
        }
    }
}