.container {
    .form-wrapper {

        .btn-wrapper {
            .btn{
                margin-left: 15px;
            }
            .add {
                background-color: #24a0ed;
                color: white;
            }
        }
    }
}