.container{
    
    .form-wrapper{
        display: flex;

        .btn-wrapper{

        .btn{
            margin-left: 15px;
        }

        .search{
            background-color: #24a0ed;
        }
        }
    }
}