<div class="container">
    <form [formGroup]="categoryFilterForm" (ngSubmit)="onSubmit()">
        <div class="form-wrapper">
            <div class="input">
                <mat-form-field class="example-form-field">
                    <mat-label>Category</mat-label>
                    <input matInput type="text" formControlName="value">
                    <button *ngIf="categoryFilterForm.value.value" matSuffix mat-icon-button aria-label="Clear" (click)="onClear()">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
            </div>
            <div class="btn-wrapper">
                <button mat-flat-button color="primary" class="btn search" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>