.container {

    .form-wrapper {
        display: flex;
        margin-left: 1%;

        .btn-wrapper {
            .btn {
                margin-left: 15px;
                margin-top: 5px;
                height: 50px;
                width: 100px;
            }

            .search {
                background-color: #24a0ed;
            }
        }
    }
}