<div class="container">
    <form [formGroup]="userFilterForm" (ngSubmit)="onSubmit()">
        <div class="form-wrapper">
            <div class="input">
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
            </div>
            <div class="input">
                <mat-form-field class="example-full-width">
                    <mat-label>Personal ID</mat-label>
                    <input matInput formControlName="personalId">
                </mat-form-field>
            </div>
            <div class="input">
                <mat-form-field class="example-full-width">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName">
                </mat-form-field>
            </div>
            <div class="input">
                <mat-form-field class="example-full-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName">
                </mat-form-field>
            </div>
            <div class="input">
                <mat-form-field class="example-full-width">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput formControlName="dateOfBirth">
                </mat-form-field>
            </div>
            <div class="input dropdown category">
                <mat-form-field appearance="fill">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category">
                        <mat-option *ngFor="let category of categories" [value]="category.value">
                            {{category.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="input dropdown status">
                <mat-form-field appearance="fill">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option *ngFor="let category of categories" [value]="category.value">
                            {{category.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="btn-wrapper">
                <button class="btn search" type="submit" mat-flat-button color="primary">Search</button>
                <button class="btn clear" mat-flat-button color="warn" (click)="onClear()">Clear</button>
            </div>
        </div>
    </form>
</div>