.container {

    .btn-wrapper {
        margin-left: 1%;
        margin-bottom: 10px;

        .btn {
            background-color: rgba(133, 132, 173, 0.74);
        }
    }

    .mat-elevation-z8 {
        max-height: 576px;
        overflow: auto;
        width: 98%;
        margin-left: 1%;

        .icons{
            width: 90px
        }

        .icon-wrapper {
            text-align: right;

            .icon {
                cursor: pointer;
            }
        }
    }

    .paginator {
        margin-right: 1%;
    }
}