.container{

    .btn-wrapper{
        margin: 10px;
        
        .button{
            background-color:rgba(192, 191, 250, 0.74);
        }
    }

    .mat-elevation-z8{

        .icon{
            cursor: pointer;
        }
    }

}